  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
    position: sticky;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #000000;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

  .form_style {
    margin-top: 50px;
    margin-left: 80px;
  }

  .body {
    background-color: #d9d9d9;
  }